# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
example/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
example/android/key.properties

example/ios/Flutter/.generated/
example/ios/Flutter/pods
example/ios/Flutter/Debug.xcconfig
example/ios/Flutter/Release.xcconfig
example/ios/Flutter/Runner.xcworkspace/contents.xcworkspacedata

gradle-wrapper.jar
example/android/.gradle
example/android/captures/
example/android/gradlew
example/android/gradlew.bat
example/android/local.properties


**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
example/ios/Pods/
example/ios/.symlinks/
example/ios/profile
example/ios/xcuserdata
example/ios/.generated/
Flutter/App.framework
Flutter/Flutter.framework
example/ios/Flutter/Flutter.podspec
example/ios/Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
example/ios/Flutter/flutter_export_environment.sh
ServiceDefinitions.json
example/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3


